<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sign Up</title>
</head>
<body>
    <!-- NavBar -->
    <div class="navbar">
        <a href="/login"><div class="navbarButton1 focus"><i class="fa-solid fa-house-flag icon"></i></div></a>
        <a href="/stats"><div class="navbarButton3"><i class="fa-solid fa-trophy icon"></i></div></a>
        <a href="/stats"><div class="navbarButton2"><i class="fa-solid fa-chart-simple icon"></i></div></a>
        <a href="/game"><div class="navbarButton3"><i class="fa-solid fa-gamepad icon"></i></div></a>
    </div>

    <!-- Header -->
    <div class="headerBackground">
        <div class="headerTitle">HANGMAN WEB</div>
    </div>

    <div class="container">
        <div class="loginRegisterContainer">
            <!-- Image -->
            <div class="imageArea">
                <div class="image">
                    <img src="https://cdn3.iconfinder.com/data/icons/essential-rounded/64/Rounded-31-512.png" class="image">
                </div>
            </div>

            <!-- Logo / Register NavBar -->
            <div class="loginRegister-NavBarArea">
                <!-- Login Area -->
                <div id="loginArea" class="loginArea">
                    <div class="loginTitle">SIGN UP</div>
                    <div class="loginBarArea">
                        <div class="loginBar"></div>
                    </div>
                </div>
            </div>  

            <!-- Register Container -->
            <div class="registerContainer" id="registerContainer">
                <div class="loginBackground">
                    <form action="/signup" method="post">
                        <!-- EMAIL -->
                        <div class="textTitleInput">EMAIL*</div>
                        <div class="input-center">
                            <input type="text" name="email" id="" class="input">
                        </div>

                        <!-- USERNAME -->
                        <div class="textTitleInput">USERNAME*</div>
                        <div class="input-center">
                            <input type="text" name="username" id="" class="input">
                        </div>

                        <!-- PASSWORD -->
                        <div class="textTitleInput">PASSWORD*</div>
                        <div class="input-center">
                            <input type="password" name="password" id="" class="input">
                        </div>

                        <!-- RETYPE PASSWORD -->
                        <div class="textTitleInput">RETYPE PASSWORD*</div>
                        <div class="input-center">
                            <input type="password" name="passwordretype" id="" class="input">
                        </div>

                        <div class="newAccountArea">
                            <a href="http://localhost:8080/" class="newAccoutSentence">Do you already have an account?</a>
                        </div>

                        {{if .ErrorS}}
                        {{template "errorMsg2"}}
                        {{end}}

                        <!-- SUBMIT -->
                        <div class="input-center submitButtonArea">
                            <button class="submitButton">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
