<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/categorypage.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Phan-Talk ● Catégories</title>
    <link rel="icon" type="image/x-icon" href="../asset/heartless_emblem.ico">
</head>
<body>
    <header>
        <ul>
            <li><a class = "home" href="/"><img src="../asset/heartless_emblem.webp"> <text>"Si le monde est fait d'ombre et de lumiere, nous serons les tenebres."</text></a></li>
            <li style="float:right"><a class = "active" href="#mappage"><img src="../asset/map.png"><text>Categories</text></a></li>
            <li style="float:right"><a class = "sub" href="/createsub"><img src="../asset/messages.png"><text>Creation de sujets</text></a></li>
            <li style="float:right"><a class = "profil" href="/profil"><img src="../asset/contacts.png"><text>Profil</text></a></li>
            <li style="float:right" class="dropdown"><img src="../asset/Music.png"><text>Musique</text>
                <select name="Element" id="Element">
                    <option value="Closet.mp3">MidnightCloset - Tekken7</option>
                    <option value="Destruction.mp3" selected>TriggerToDestruction - Tekken7</option>
                    <option value="Destroyers.mp3">Destroyers - Tekken7</option>
                    <option value="Heat.mp3">HeatHazeShadow - Tekken7</option>
                    <option value="Aloneness.mp3">Aloneness - Tekken7</option>
                    <option value="Fishing.mp3">LoFi - SonicFrontiers</option>
                    <option value="Sunset.mp3">YourSunset - TekkenTTT2</option>
                    <option value="Cave.mp3">DigitalCave - SonicFrontiers</option>
                    <option value="Rito.mp3">RitoVillage - ZeldaBOTW</option>
                    <option value="Dew.mp3">MorningDew - DBZBT2</option>
                    <option value="BOTW.mp3">MainTheme - ZeldaBOTW</option>
                    <option value="Orange.mp3">Orange - BLEACH</option>
                    <option value="Inferno.mp3">Inferno - EnenNoShoubutai</option>
                    <option value="Hana.mp3">IchirinNoHana - BLEACH</option>
                    <option value="One.mp3">NumberOne - BLEACH</option>
                    <option value="Resonance.mp3">Resonance - SoulEater</option>
                    <option value="Moon.mp3">BlackPaperMoon - SoulEater</option>
                    <option value="Style.mp3">Style - SoulEater</option>
                    <option value="Yume.mp3">BakusouYumeUta - SoulEater</option>
                    <option value="Be.mp3">IWannaBe - SoulEater</option>
                    <option value="Strength.mp3">Strength - SoulEater</option>
                    <option value="Metropolis.mp3">Metropolis - R&CTOD</option>
                    <option value="MyPace.mp3">MyPace - BLEACH</option>
                    <option value="Change.mp3">Change - BLEACH</option>
                    <option value="Hidden.mp3">HiddenVillage - ZeldaTP</option>
                    <option value="Kakariko.mp3">KakarikoVillage - ZeldaTP</option>
                    <option value="Skill.mp3">SkillTraining - ZeldaTP</option>
                    <option value="Hindenburg.mp3">Hindenburg - Solatorobo</option>
                    <option value="CODA.mp3">CODA - Solatorobo</option>
                    <option value="Spirak.mp3">SpiralNightmare - Solatorobo</option>
                    <option value="Tail.mp3">BeMyTail - Solatorobo</option>
                    <option value="Overture.mp3">Overture - Solatorobo</option>
                    <option value="Basset.mp3">SlumsOfBasset - Solatorobo</option>
                    <option value="RaysOfLights.mp3">RaysOfLights- NierAutomata</option>
                    <option value="Park.mp3">AmusementPark - NierAutomata</option>
                    <option value="TsunaidaTe.mp3">TsunaidaTe - FMAB</option>
                    <option value="Hologram.mp3">Hologram - FMAB</option>
                    <option value="RayOfLight.mp3">RayOfLight(instrumental) - FMAB</option>
                    <option value="Senya.mp3">Senya - NarutoS</option>
                    <option value="MOTW.mp3">ManOfTheWorld - NarutoS</option>
                    <option value="Despair.mp3">Despair - NarutoS</option>
                    <option value="Shadow.mp3">AllHailShadow - Sonic06</option>
                    <option value="Father.mp3">DearFather - SonicFrontiers</option>
                    <option value="Ouranos.mp3">OuranosIsland - SonicFrontiers</option>
                    <option value="SHeights.mp3">SunsetHeights - SonicForces</option>
                    <option value="Route10.mp3">Route10 - PokemonBW</option>
                    <option value="Zinnia.mp3">LorekeeperZinnia - PokemonROSA</option>
                    <option value="Tomorrow.mp3">ToworrowIsMine(instrumental) - Bayonetta2</option>
                    <option value="Boys!.mp3">Let'sDanceBoys! - Bayonetta</option>
                    <option value="HOTS.mp3">HymnOfTheSoul - Persona3</option>
                    <option value="Face.mp3">I'llFaceMyself - Persona4</option>
                    <option value="Chun-nan.mp3">Chun-nanNight - SonicUnleashed</option>
                    <option value="Robot.mp3">RobotOverdrive - KingdomHearts3</option>
                    <option value="Heroes.mp3">HeroesGathering - KingdomHearts3</option>
                    <option value="LinkToAll.mp3">LinkToAll - KingdomHearts3</option>
                    <option value="Working.mp3">WorkingTogether - KingdomHearts2</option>
                    <option value="Sinister.mp3">SinisterSundown - KingdomHearts2</option>
                    <option value="Afternoon.mp3">AfternoonStreets - KingdomHearts2</option>
                    <option value="Night.mp3">NightOfFate - KingdomHearts</option>
                    <option value="SAC.mp3">SimpleAndClean - KingdomHearts</option>
                </select>
            </li>
        </ul>
    </header>
    <head>
        <div class="title">
            <img src="../asset/map.png" alt="Image">
            <p>Catégories</p>
            <img src="../asset/vol.png" id="vol">
        </div>
        <div>
            
        </div>          
    </head>
    <div class="categories">
        <div class="subtitle">
            <a href="/subjects?id=1">
                <img src="../asset/anime.png" alt="Image">
                <p>Animes</p>
            </a>
        </div>
        <div class="subtitle">
            <a href="/subjects?id=2">
                <img src="../asset/games.png" alt="Image">
                <p>Jeux videos</p>
            </a>
        </div>
        <div class="subtitle">
            <a href="/subjects?id=3">
                <img src="../asset/random.png" alt="Image">
                <p>Autre</p>
            </a>
        </div>
    </div>
   
    <audio id="fishing" loop>
        <source src="../asset/music/Destruction.mp3" type="audio/mpeg">
    </audio>  
</body>
<script src="../src/categorypage.js"></script>
</html>