<!DOCTYPE html>
<html lang="fr">
<head>
</html>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/connexion.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phan-Talk ● Connexion</title> 
    <link rel="icon" type="image/x-icon" href="../asset/heartless_emblem.ico">
</head>
<body>
    <div class="background-image"></div>
    <div class="main">
        <div class="first">
            <div class="top">
                <div class="forms">
                    <div class="uti">
                        <input type="text" id="username" name="username" placeholder="utilisateur" required class="input">
                    </div>
                    <div class="mdp">
                        <input type="password" id="password" name="password" placeholder="mot de passe" required class="input">
                    </div>
                    <a href = /categorypage>
                        <div class="button">
                            <button type="button" style="background-color: transparent;border-color: transparent;">
                                <img src="../asset/tchat_left.png">
                            </button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>    
</body>
<script src="../src/connexion.js"></script>
</html>