<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/inscription.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phan-Talk ● Inscription</title>
    <link rel="icon" type="image/x-icon" href="../asset/heartless_emblem.ico">
</head>
<body>
    <div class="background-image"></div>
    <div class="main">
        <div class="first">
            <div class="top">
                <div class="forms">
                    <div class="uti">
                        <input type="input" id="username" name="username" placeholder="utilisateur" required class="input">
                    </div>
                    <div class="tel">
                        <input type="input" id="telephone" name="telephone" placeholder="telephone" required class="input">
                    </div>
                    <div class="mdp">
                        <input type="password" id="mdp" name="mdp" placeholder="mot de passe" required class="input">
                    </div>
                    <div class="cmdp">
                        <input type="password" id="cmdp" name="cmdp" placeholder=" confirmation mot de passe" required class="input">
                    </div>
                    <div class="email">
                        <input type="email" id="email" name="email" placeholder=" email" required class="input">
                    </div>
                        <div class="button">
                            <button type="button" style="background-color: transparent;border-color: transparent;">
                                <img src="../asset/tchat_right.png">
                            </button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>    
</body>
<script src="../src/inscription.js"></script>
</html>