<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/logpage.css">
    <title>Phan-Talk ● Bienvenue</title>
    <link rel="icon" type="image/x-icon" href="../asset/heartless_emblem.ico">
</head>
    <body>
        <div class="section">
            <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                        <div class="section pb-5 pt-5 pt-sm-2 text-center">
                            <h6 class="mb-0 pb-3"><span>Connexion </span><span>Inscription</span></h6>
                              <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                              <label for="reg-log"></label>
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-back">
                                        <img class="connexion" src="/asset/connexion.png" href="/Cooks" style="cursor: pointer; max-height: 120vh;max-width:120vh;" >
                                        <img class="inscription" src="/asset/inscription.png" href="/register" style="cursor: pointer;max-height: 55.5vh;max-width:80vh;" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script src="../src/logpage.js"></script>
</html>