<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/test-bulle.css">
    <title>Forum ● Tchat</title>
</head>
<header>
    <ul>
        <li><a class="home" href="#home"><img src="../asset/heartless_emblem.webp"></a></li>
        <li style="float:right"><a href="#mappage"><img src="../asset/map.png"></a></li>
        <li style="float:right"><a class="sub" href="#createsubjectpage"><img src="../asset/messages.png"></a></li>
        <li style="float:right"><a class="profil" href="#profilpage"><img src="../asset/contacts.png"></a></li>
    </ul>
</header>

<head>
    <img class="games" src="/asset/games.png">
    <img class="bullesujet" src="/asset/bullesujet.png">
    <input class="sujet" type="text" placeholder="Sujet">
</head>

<body> 
    <img class="bullequestion" src="/asset/bulle.png">
    <!-- personne qui repond -->
    <div class="conversation">
    </div>
    <!-- fin personne qui repond -->

    <!-- place pour personne qui repond -->
    <img class="bulleecrit" src="/asset/bulle.png">
    <input class="comecrit" type="text" placeholder="Ajouter un commentaire" maxlength="75"> <!-- commentaire -->
</body>
<script src="../src/test.js"></script>
</html>

