<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/welcomepage.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phan-Talk ● Bienvenue</title>
    <link rel="icon" type="image/x-icon" href="../asset/heartless_emblem.ico">
</head>
<body>
    <div class="content">
    <div class="background-image"></div>
    <div class="main">
        <div class="first">
            <p class="text">
                <p class = "title">
                    Bienvenue sur Phan-Talk
                </p>
                <p class="subtitle">
                    Un forum pour les fans de jeux videos, anime et plus encore, perdus dans le neant...
                </p>
                <a href = /logpage style="display: flex;justify-content: center;">
                    <div class="button">
                        <button type="button" style="background-color: transparent;border-color: transparent;">
                            <img src="../asset/tchat_left.png">
                        </button>
                    </div>
                </a>
            </p>
        </div>
    </div>
    </div>
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
               <p>Ce site est la propriété du groupe Ratio Tous droits réservés, soumis par la règle : Digital Millennium Copyright Act</p>
        </div>
    </footer>
</body>
</html>