:root{
    --bleu_vert: #14C1BD;
    --bleu_ciel: #E6FFFE;
    --vert: #07541A;
    --blanc :#FFFFFF;
}

* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "Bukhari Script";
    src: url("../assets/fonts/Bukhari\ Script.ttf") format("truetype");
}

@font-face {
    font-family: "Belleza-Regular";
    src: url("../assets/fonts/Belleza-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Amatic-SC-Regular";
    src: url("../assets/fonts/AmaticSC-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.all{
    background: rgb(153,216,174);
    background-attachment: fixed;
    background: linear-gradient(180deg, rgba(153,216,174,1) 0%, rgba(255,255,255,1) 100%);
}

a {
    text-decoration: none;
    color: green;
    font-family: "Amatic-SC-Regular";
    font-size: 30px;
    font-weight: bold;
}

.main-head{
    background: transparent;
    color: green;
}

nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width:90%;
    margin:auto;
    padding: 2rem;
}

nav ul{
    display: flex;
    flex: 2 1 30rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 15rem;
}

#logo{
    flex: 1 3 40rem;
}

.logomini{
    width: 150px;
    display: block;
    margin-bottom: 40px;
}

.title{
    padding-top: 5vh;
    font-family: "Bukhari Script";
    color: #07541A;
    font-size: 50px;
}

.left{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}


.card {
    width: 350px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: #000;
}

.icons i {
    font-size: 24px;
    background-color: #000;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
}

.image{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.forms label{
    margin-bottom: 10px;
    margin-top: 2rem;
    font-family: "Belleza-Regular";
    color: #07541A;
    font-size: 25px;
    font-weight: 150;
}
