body{
    background-color: black;
}

.test {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .bouton:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 8px solid white;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }
  
  .bouton:hover:before {
    width: 50%;
    height: 100%;
    opacity: 1;
  }
  
  .bouton:after:nth-child(1) {
    transform: translate(-50%, -50%) rotate(90deg) translateX(50px) rotate(-45deg);
  }
  
  .bouton:after:nth-child(2) {
    transform: translate(-50%, -50%) rotate(90deg) translateX(50px) rotate(-90deg);
  }
  
  .bouton:after:nth-child(3) {
    transform: translate(-50%, -50%) rotate(90deg) translateX(50px) rotate(-135deg);
  }
  
  .bouton:after:nth-child(4) {
    transform: translate(-50%, -50%) rotate(180deg) translateX(50px) rotate(-180deg);
  }
  
