/*all*/
*{
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
    font-family: "earwing factory rg";
    src: url("../asset/font/earwig\ factory\ rg.otf") format("opentype");
}

@font-face {
    font-family: "p5hatty";
    src: url("../asset/font/p5hatty.ttf") format("truetype");
}


/*header*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    border-bottom:2px solid white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    margin-left: 14px;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: transparent;
}

.home img {
    width : 10%;
    height : auto;
    background-color: transparent;
}
.home{
    color: transparent;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home:hover{
    color: white;
}
.map img {
    width: 75%;
    height: auto;
}

.active img {
    width: 80%;
    height: auto;
}

.sub img {
    width: 80%;
    height: auto;
}

#vol{
    position: absolute;
    right:0%;
    max-width: 128px;
    max-height: 128px;
    cursor: pointer;
  }

select{
    color: white;
    font-family: "p5hatty";
    position: absolute;
}
.dropdown{
    display: inline-block;
}
#Element{
    display: none;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 200px;
}
.dropdown:hover #Element{
    display: block;
}
.home text{
    display: flex;
    font-family: "p5hatty";
    align-items: center;
    margin-left: 10%;
    background-color: transparent;
}

.sub text, .profil text, .dropdown text, .active text {
    visibility: hidden;
    font-family: "p5hatty";
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.sub:hover text, .profil:hover text, .dropdown:hover text, .active:hover text {
    visibility: visible;
}
/*header*/

/*title*/

.title, .id, .subtitle {
    display: flex;
    align-items: center;
    background: transparent;
}
  
.title img, .subtitle img {
    margin-right: 10px;
    height: 10rem;
    width: auto;
    background: transparent;
}


.title p{
    color:white;
    font-family: "earwing factory rg";
    font-size: 100px;
}

/*Categories*/
.categories {
    margin: 0;
    padding: 0;
    background-image: url("../asset/background3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

.subtitle p{
    color:white;
    font-family: "p5hatty";
    font-size: 100px;
    background: transparent;
}

.subtitle a {
    text-decoration: none;
    color: inherit;
    background: transparent;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
}

.subtitle:hover img,
.subtitle:hover p {
  transition: transform 0.5s;
  transform: rotate(360deg);
}

.categories .subtitle {
  display: inline-block;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

.categories .subtitle img {
  width: 100px;
  height: 100px;
}

.categories .subtitle p {
  margin-top: 10px;
}
