<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Home.css">
    <link rel="icon" type="image/jpg" href="../assets/pictures/bangkok.jpg">
    <title>Bête de caisse</title>
</head>
<body>
    {% include '_header.twig' %}
    <div class="WText">
    <h1>Bienvenue sur <u>Bête De Caisse</u>! <br/> Le Site Web préféré des amateurs d'automobiles</h1>
    <h2>Envie de rouler à toutes allures avec de bon gros cylindres!!! <br/>
    Ou Simplement faires de grosses emplettes ou des promenades sans soucis <br/> Vous êtes au bon endroit</h2>
    </div>
    <div class="background"><img src="../assets/pictures/back.jpg" id="i"></div>
    <div class="presentation">
        <h2>Bête de Caisse est un site de location de voiture disponible partout en France <br/> Réserver des
         voitures pour une période donné et ce en toute sécurité <br/> Faites vos recherches facilement grâce à nos filtres
          simple d'utilisation et louez plus facilement</h2>
    </div>
    <div class="presentation2">
        <h2>Preuve à l'appui, Regardez-ci dessous:</h2>
    </div>
    <div class="background"><img src="../assets/pictures/Fiat-131-1-1-scaled.jpg" id="j"></div>
    <div class="presentation2" id="Z">
        <h2>Voyez-comment il est ravi, Merci qui ? <br/> Merci <u>Bête de Caisse</u>! </h2>
        <h2>Alors qu'attendez vous? <br/> Notre efficacité est garanti par
         le ministre des transport <u>en personne</u> c'est dire.</h2>
    </div>
    <div class="presentation3">
        <h2><br/><u>CEPENDAAAAAAAAAAAAAAANNT!!!</u> <br/> Veuillez noter que l'utilisation est réserver
         UNIQUEMENT AUX MEMBRES OFFICIELS! <br/>Alors Vous Aussi <a href="/search">rejoignez l'aventure!</a> </h2>
    </div>
</body>
</html>