<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/about.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../assets/pictures/favicon.ico">
        <title>Citrus</title>
</head>
<body>
    <div class="all">
        <header class="main-head">
            <nav>
                <div class="left">
                    <img src="../assets/pictures/logo.png" class="logomini">
                    <p class="title">
                        A propos
                    </p>
                </div>
                <ul>
                    <li><a href= "/main2">Accueil</a></li>
                    <li><a href= "/profil">Profil</a></li>
                    <li><a href= "/map">Map</a></li>
                    <li><a href= "/disconnect">Déconnexion</a></li>
                    <li><a href= "/about">A propos</a></li>
                </ul>
            </nav>
        </header>
        <div class="text">
            <p>Citrus est un site créée par des étudiants d'Ynov Lyon dans le cadre d'un projet scolaire et n'est qu'au stade de sa démonstration.<br>
                Il vous sera donc impossible de rechercher plus des 52 artistes définies par l'API ou encore de changer photo de profil et d'autres informations de votre compte.<br>
                Ce site vous permet donc d'accéder aux informations des artistes les plus célèbres (choix musicaux discutables).<br>
                Ce site est soumis à des droits d'auteur, à vos risques et périls.<br>
                Merci de votre compréhension.<br>
                Puissiez vous chercher de nouveaux sons et artistes frais.<br>
                <br>
                <br>
                L'équipe Citrus
            </p>
        </div>
    </div>
</body>
</html>