{{define "pimg"}}
    {{if eq .IdI2 1}}
        <img src="../assets/pictures/blobby.png" height="100" width="100" />
    {{end}}
    {{if eq .IdI2 2}}
        <img src="../assets/pictures/kirby2.png" height="100" width="100" />
    {{end}}
    {{if eq .IdI2 3}}
        <img src="../assets/pictures/KH.png" height="100" width="100" />
    {{end}}
    {{if eq .IdI2 4}}
        <img src="../assets/pictures/carapuce.png" height="100" width="100" />
    {{end}}
    {{if eq .IdI2 5}}
        <img src="../assets/pictures/luma.jpg" height="100" width="100" />
    {{end}}
    {{if eq .IdI2 6}}
        <img src="../assets/pictures/sonic.png" height="100" width="100" />
    {{end}}
    {{if eq .IdI2 7}}
        <img src="../assets/pictures/bouclier.png" height="100" width="100" />
    {{end}}
    {{if eq .IdI2 8}}
        <img src="../assets/pictures/char-10.png" height="100" width="100" />
    {{end}}
    {{if eq .IdI2 9}}
        <img src="../assets/pictures/citron.jpg" height="100" width="100" />
    {{end}}
{{end}}