<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/welcomepage.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/pictures/favicon.ico">
    <title>Citrus</title>
</head>
<body>
    <div class="main">
        <div class="first">
            <p class="text">
                <p class = "title">
                    Bienvenue sur Citrus
                </p>
                <p class="subtitle">
                    Retrouvez vos artistes, vos albums et vos sons favoris.
                </p>
                <div class="button">
                    <a href = /login>
                        <button class="start" type="button"><p>Commencer</p></button>
                    </a>
                </div>
            </p>
        </div>
        <div class = "second">
            <img src="../assets/pictures/logocomplet.png" class="logo">
        </div>
    </div>
</body>
</html>